body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
input,button{
    padding: 10px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    background: #007bff;
    color: #fff;
    cursor: pointer;

}

button:hover{
    background:  #0056b3;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

table,th,td{
    border: 1px solid #ddd;
}

th,td{
    padding: 10px;
    text-align: center;
}

.actions button{
    width: auto;
    margin: 2px;
    padding: 5px 10px;
}

.edit{
    background: #28a745;
    color: white;
}

.delete {
    background: #dc3545;
    color: white;
}